body {
    background-image: url('https://live.staticflickr.com/65535/51745214279_d63e776dbe_b.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}
main {
  margin-bottom: 200%;
}
.floating-menu {
  font-family: sans-serif;
  background: black;
  padding: 5px;;
  width: 130px;
  z-index: 100;
  border-width: 20px;
  border-color: red;
  position: fixed;
}
.floating-menu a,
.floating-menu h3 {
  font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: white;
}
