body {
    background-image: url('https://live.staticflickr.com/65535/51745214279_d63e776dbe_b.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}
floate {
  float: left;
  margin-left: 2%;
  border-radius: 5%;
  color: black;
  border-color: red;
  border-width: thin;
}
