body {
    background-image: url('https://live.staticflickr.com/65535/51743849067_95129a8793_b.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}
main {
  margin-bottom: 200%;
}
.floating-menu {
  font-family: sans-serif;
  background: black;
  padding: 5px;;
  width: 130px;
  z-index: 100;
  border-width: 20px;
  border-color: transparent;
  scroll-behavior: 4;
  position: fixed;
}
.floating-menu a,
.floating-menu h3 {
  font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: white;
}
.Frame {
    transition-property: 30%;
    width: 85%;
    background-color: blue;
    border: 3px solid transparent;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    position: absolute;
    left: 5%;
}
.Frame::after {
    padding-left: 56.25%;
    display: block;
    content: '';
}
